/*======================*\
  General blog styles
\*======================*/
article {
  margin-top: 10vh;
  border: 1rem solid yellow;
  overflow: hidden;

  /* blog title */
  h1 {
    font-size: 5rem;
  }

  /* blog image */
  .img {
    margin: 1.5rem 0;
    border: 1rem solid black;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/*======================*\
       blog meta
\*======================*/
.blog-meta {
  font-size: 1.5rem;
}

/*======================*\
       blog quote
\*======================*/
blockquote {
  font-size: 3rem;
  margin: 1.5rem 0;
}

/*======================*\
      blog content
\*======================*/
.blog-content {
  p {
    margin: 1.5rem 0;
    font-size: 2.5rem;
  }

  /* paragraph titles */
  h3 {
    margin: 1.5rem 0;
    font-size: 4rem;
  }
}

/*======================*\
      author section
\*======================*/
.author {
  margin: 5rem 0 1rem;

  .dp {
    border: 1rem solid black;
    height: 20rem;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    float: left;
    margin-right: 2rem;
  }

  p {
    font-size: 2.5rem;
  }

  /* author title */
  h3 {
    font-size: 3.5rem;
  }
}

/*======================*\
      footer section
\*======================*/
footer {
  clear: left;
}
