/*
:root {
  --bg-color: gray;
  --sec-bg-color: darkgray;
}
*/

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

/* header */
header {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2.5rem;
  border: 1rem solid pink;
  div {
    margin-left: 1rem;
  }
}

nav a {
  margin-right: 1rem;
}

/* main */
main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 2fr;
  border: 1rem solid yellow;
}
/* intro */
.intro {
  border: 1rem solid green;
  width: 100%;
  padding: 0 1rem;

  h3 {
    font-size: 5rem;
  }

  p {
    font-size: 3rem;
    clear: left;
  }
}

/* blogs */
.featured-blogs {
  order: 2;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 7fr;
  border: 1rem solid cyan;

  div {
    height: 20rem;
    text-align: center;
    border: 1rem solid red;
  }

  h3 {
    font-size: 4rem;
    grid-area: 1 / 1 / 1 / -1;
  }
  .web {
    grid-area: 2 / 1 / 2 / 2;
    font-size: 2.5rem;
  }
  .curses {
    grid-area: 2 / 2 / 2 / 3;
    font-size: 2.5rem;
  }
  .miracles {
    grid-area: 2 / 3 / 2 / -1;
    font-size: 2.5rem;
  }
}

/* aside */
aside {
  order: 1;
  grid-area: 1 / 2 / -1 / -1;
  font-size: 2.5rem;
  border: 1rem solid brown;
  width: 100%;
  padding: 1rem;

  li {
    font-size: 2rem;
  }
}

/* footer */
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  padding: 1rem;
  border: 1rem solid white;
}
