/*======================*\
    universal section
\*======================*/
:root {
  --bg-color: blue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
}

/*======================*\
    header section
\*======================*/
header {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2.5rem;
  border: 1rem solid pink;
  div {
    border: 1rem solid olive;
  }
}

nav {
  a {
    border: 1rem solid orange;
  }

  /* table of contents */
  .toc {
    display: none;
  }
  .show {
    border: 1rem solid crimson;
    position: absolute;
    display: flex;
    flex-direction: column;
    visibility: visible;
  }
}

/*======================*\
    main section
\*======================*/
main {
  display: flex;
  flex-direction: column;
  border: 1rem solid yellow;
}

/*======================*\
  introduction section
\*======================*/
.intro {
  border: 1rem solid green;

  h1 {
    font-size: 5rem;
  }

  p {
    font-size: 3rem;
  }
}

/*======================*\
  featured blogs section
\*======================*/
.featured-blogs {
  border: 1rem solid cyan;
  h1 {
    font-size: 4rem;
  }
}

.blog-container {
  border: 1rem solid pink;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  /* whole blog article */
  li {
    border: 1rem solid magenta;
  }

  /* blog image */
  .img {
    border: 1rem solid black;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* blog meta */
  div {
    border: 1rem solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
  }

  /* blog content */
  h3 {
    font-size: 2.5rem;
  }
  .blog-content {
    font-size: 1.5rem;
  }
}
/*======================*\
      footer section
\*======================*/
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  font-size: 2rem;
  border: 1rem solid purple;
}
